@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root{
    --color-heading:#092032;
    --color-paragraph:#516171;
    --color-main:#ff4d29;
    --color-main-hover:#e04122;
}

body{
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: var(--color-paragraph);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
    color: var(--color-heading);
}

a{
    color: var(--color-heading);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500 !important;
}

img{
    width: 100%;
}

section{
    padding: 80px 0px;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
}

.intro{
    margin-bottom: 40px;
}

.intro h6{
    font-weight: 400;
    color: var(--color-main);
}

.intro p{
    max-width: 500px;
    margin: auto;
}

/* navbar start */
.top-nav{
    background-color: var(--color-main);
    padding: 5px 0px;
}

.top-nav p{
    margin-bottom: 0;
    display: inline;
    margin-right: 16px;
    color: #ffffff;
}

.top-nav i, .top-nav span{
    vertical-align: middle;
}

.top-nav .social-links a{
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
}

.top-nav .social-links a:hover{
    background-color: #ffffff;
    color: var(--color-main);
}

.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:active, .navbar-nav .nav-link:focus{
    color: var(--color-main);
}

.navbar-nav .nav-link.active {
    color: var(--color-main);
}

.navbar .navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: var(--color-heading);
}

.navbar .navbar-brand span{
    color: var(--color-main);
}

/* btn start */
.btn{
    padding: 9px 24px;
    font-weight: 500;
}

.btn-brand{
    background-color: var(--color-main);
    color: #ffffff;
    border-color: var(--color-main);
}

.btn-brand:hover{
    color: #ffffff;
    background-color: var(--color-main-hover);
    border-color: var(--color-main-hover);
}
/* btn end */

/* navbar end */

/* slider start */
.slide1{
    background: linear-gradient(rgba(9, 32, 50, 0.4),rgba(9, 32, 50, 0.4)), url(../images/bg-banner1.jpg);
}

.slide2{
    background: linear-gradient(rgba(9, 32, 50, 0.4),rgba(9, 32, 50, 0.4)), url(../images/bg-banner2.jpg);
}

.slide3{
    background: linear-gradient(rgba(9, 32, 50, 0.4),rgba(9, 32, 50, 0.4)), url(../images/bg-banner3.jpg);
}

/* owl carousel start */
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-prev{
    left: 0;
}

.owl-next{
    right: 0;
}

.owl-prev:hover, .owl-next:hover{
    background-color: var(--color-main) !important;
}
/* owl carousel end */

/* slider end */

/* About Start */

/* info-box start */
.info-box {
    display: flex;
    align-items: centers;
}

.info-box img{
    width: 90px;
    height: 90px;
    border-top-left-radius: 60px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 70px;
    margin-right: 24px;
}

.about-img{
    border-radius: 300px;
    border: 5px solid var(--color-main);
}
/* info-box end */

/* About End */

/* Milestone Start */
#milestone{
    background: linear-gradient(rgba(255, 77, 41, 0.9), rgba(255, 77, 41, 0.9)), url(../images/bg-banner1.jpg);
}

#milestone .display-4, #milestone p{
    color: #ffffff;
}

#milestone .display-4{
    font-weight: 700;
}
/* Milestone End */

/* Services Start */
.service-box{
    padding: 32px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.service-box img{
    width: 90px;
    height: 90px;
    border-top-left-radius: 60px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 70px;
}

.service-box h5{
    margin-top: 24px;
    margin-bottom: 12px;
}
/* Services End */

/* Project Start */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color-main);
}

.project{
    position: relative;
}

.project .overaly{
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0.0), rgba(9, 32, 50, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}

.project .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1, .project h6{
    color: #ffffff;
}

.project h6{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before{
    content: '';
    height: 2px;
    width: 24px;
    background-color: var(--color-main);
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
/* Project End */